html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible",content="IE-EmulateIE7")
    include css.jade
  body#dashboard
    #wrapper
      include ../shared/topbar.jade
      #sidebar-wrapper
        include ../shared/sidebar.jade
      #page-content-wrapper
        block content
        
    include js.jade

