block 
  link(rel='stylesheet', href='#{_base}/lib/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='#{_base}/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='#{_base}/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')

  link(rel='stylesheet', href='#{_base}/css/layout.min.css')

