extends ../../layout/backend.jade
block content
	.container
		.row
			form#pwd_form.form-horizontal(action="#{_base}/backend/user/updatePassword",method="post")
				.form-group
					label.col-sm-2 新密码
					.col-sm-6
						input#newPwd.form-control(type='password',name='password',required)
				.form-group
					label.col-sm-2 确认密码
					.col-sm-6
						input#confirmPwd.form-control(type='password',name='confirmPassword',required)
				.row
					.col-md-2
						button#pwd_btn.btn.btn-primary.btn-block.mt-20(type="submit") 提交
			.row
				.msg(style="color:red")