#wrapper {
  padding-top: 50px;
  padding-left: 0;
  transition: all .5s ease; }

#dashboard {
  background: #f5f5f5 !important; }

#sidebar-wrapper {
  position: fixed;
  z-index: 10;
  left: 200px;
  overflow-y: auto;
  width: 0;
  height: 100%;
  margin-left: -200px;
  transition: all .5s ease;
  background: #1d212a; }
  #sidebar-wrapper .dropdown-menu {
    z-index: 999; }
  #sidebar-wrapper .sidebar .title {
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    padding: 3px 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a3c893; }
  #sidebar-wrapper .sidebar .fa {
    margin-right: 10px; }
  #sidebar-wrapper .sidebar .name {
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5; }
  #sidebar-wrapper .sidebar .occupation {
    font-size: 13px;
    color: #1d212a; }
  #sidebar-wrapper .sidebar .list-group {
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none !important; }
    #sidebar-wrapper .sidebar .list-group .list-group-item {
      color: #ccc;
      border: none !important;
      background: #1d212a; }
      #sidebar-wrapper .sidebar .list-group .list-group-item:hover {
        color: #333;
        border-radius: 4px;
        background: #eee; }
      #sidebar-wrapper .sidebar .list-group .list-group-item.active {
        color: white;
        border-radius: 4px;
        background: blue; }

#wrapper.toggled {
  padding-left: 200px; }

#wrapper.toggled #sidebar-wrapper {
  width: 200px; }

#wrapper.toggled #sidebar-wrapper {
  width: 200px; }

#page-content-wrapper {
  position: absolute;
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px; }
