.block 
	script(src='#{_base}/lib/jquery/dist/jquery.min.js')
	script(src="#{_base}/lib/jquery.dataTables.min.js")
	script(src='#{_base}/lib/bootstrap/dist/js/bootstrap.min.js')
	script(src="#{_base}/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")